* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box; 
	        box-sizing: border-box;
}

a {
	color: #000;
	font-family: sans-serif;
	font-size: .8em;
	text-decoration: none;
}

.nav-bar ul {
	float: right;
	text-align: center;
	width: 25%;
}

.nav-bar ul li {
	display: inline-block;
	margin-left: 5%;
}

.nav-bar ul li:nth-child(5),
.google-user {
	border-radius: 50%;
}

.nav-bar ul li:nth-child(5) {
	background-color: tomato;
	height: 20px;
	width: 20px;
}

.notifications {
	color: #fff;
}

.google-user,
.google-options {
	position: relative;
}

.google-user {
	top: 13px;
}

.google-options {
	top: 5px;
}

header {
	clear: both;
	padding-top: 150px;
}

.logo {
	display: block;
	margin: 0 auto;
}

.search {
	position: relative;
}

.search-bar {
	border: 1px solid #4d90fe;
	display: block;
	height: 40px;
	margin: 30px auto 0;
	width: 570px;
}



.micro {
	height: 25px;
	position: absolute;
	right: 375px;
	top: 8px;
	width: 25px;
} 

.buttons {
	margin: 0 auto;
	text-align: center;
	width: 570px;
}

.buttons button {
	background-color: #f4f4f4;
	border: none;
    border-radius: 3px;
	color: #757575 ;
	display: inline-block;
	font-size: .8em;
    font-weight: 600;
    height: 35px;
	margin: 5px 5px 0;
	width: 130px;
}

.footer {
	background-color: #f4f4f4;
	border-top: 1px solid #ccc;
	bottom: 0;
	height: 40px;
	position: fixed;
	width: 100%;
}

.footer li {
	display: inline-block;
	margin: 10px 20px;
}

.footer a {
	color: #757575;
}

.l-float,
.r-float {
	width: 50%;
}

.l-float {
	float: left;
	text-align: left;
}

.r-float {
	float: right;
	text-align: right;
}

